@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');


body{
  width: 1240px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  body {
    width: 95%;
  }
}
%shadow_block {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  border-radius: 0.5rem;
  overflow: hidden;
}

input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 21px;
}
h2{
  font-family: 'Inter', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  p {
    font-family: 'Inter', sans-serif;
    font-size: 12px;

  }

  img {
    width: 195px;
    height: 48px;
  }

  .b-menu {
    width: 50px;
    height: 50px;
  }

}

form {
  @extend %shadow_block;
  margin-top: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;

  label {
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
  }

  input {
    border-radius: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid ;
  }

  .mainBtn {
    margin-bottom: 10px;
  }
}

.mainBtn {
  border-radius: 10px;
  border: 1px solid;
  background-color: #E6F0D5;
  font-family: 'Inter', sans-serif;
  height: 40px;
}

main {
  .orders_page_sort {
    width: 80%;
    @extend %shadow_block;
    height: 35px;
    margin-bottom: 20px;
    align-items: center;
    padding: 5px;
    font-family: 'Inter', sans-serif;
  }
  .orders_page_nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  article {
    .orders_page_tags {
      width: 100%;

      button {
        margin-right: 5px;
      }
    }

    .order_block {
      @extend %shadow_block;
      padding: 10px;
      padding-top: 0px;
      font-family: 'Inter', sans-serif;
      margin-top: 15px;
      img{
        width: 300px;
        height: 300px;
      }
    }

    .order_block_detail {
      display: flex;
      flex-direction: column;
      @extend %shadow_block;
      padding: 10px;
      padding-top: 0px;
      font-family: 'Inter', sans-serif;

      .order_block_detail_img {
        width: 300px;
        margin: auto;

        img {
          @extend %shadow_block;
          width: 300px;
          height: 300px;
        }

        button {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .order_block_head_text {
      font-size: 16px;

    }

    .order_block_description_text {
      font-size: 14px;
    }

    .order_block_description_price {
      font-size: 14px;

    }

    .overlay {
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;

      .form-container {
        form{
          margin: 0;
        }

        background-color: white;
        @extend %shadow_block;

        input {
          border: black solid 0.5px;
          border-radius: 5px;
          font-family: 'Inter', sans-serif;
        }
      }

      img {
        margin: 0 auto;
        width: 70px;
        height: 70px;
      }
      .img_overlay {
        width: 150px;
        height: 150px;
      }
    }
  }

  .new_order_create {
    @extend %shadow_block;
    width: 100%;

    form {

      input {
        font-family: 'Inter', sans-serif;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
      }

      textarea {
        font-family: 'Inter', sans-serif;
        height: 150px;
        border-radius: 5px;
        border: 1px solid black;
      }
    }
  }
}

.user_profile {
  display: flex;
  @extend %shadow_block;
  padding: 10px;
  padding-top: 0px;
  flex-direction: row;
  margin-top: 25px;

  .user_profile_text {
    font-family: 'Inter', sans-serif;

    .user_profile_text_name {
      font-size: 16px;
    }

    .user_profile_text_city {
      font-size: 14px;
    }

    .user_profile_text_description {
      font-size: 12px;
    }
  }

  .user_profile_info {
    font-family: 'Inter', sans-serif;

    .user_profile_info_rating {
      font-size: 16px;
      text-align: center;

    }

    img {
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;

      border-radius: 15px;
    }

    button {
      width: 100%;
      margin-bottom: 10px;
      border: none;
    }
  }
}

.image-upload {
  font-family: 'Inter', sans-serif;
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px ;
}

.preview-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.tags-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex; /* Добавлено */
}

.tag {
  border: 1px solid;
  background-color: #E6F0D5;
  font-family: 'Inter', sans-serif;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
  height: 20px;
  padding: 10px;
  text-align: center;


}

.tag.selected {
  background-color: black; /* Новый цвет для выбранного тега */
  color: #fff; /* Цвет текста для выбранного тега */
}

.order_detail_response{
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  @extend %shadow_block;
  padding: 10px;
}
.menu{
  display: flex;

  button{
    width: 100%;
    margin-top: 10px;
  }
}

.language_btn{
  display: flex;
  margin-top: 15px;
  button{
    margin-right: 5px;
  }
}
.reg_btn {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;

  button {
    align-items: center;
    width: 100%;
  }
}

.bannedPage {

  position: fixed;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 1000px;
  font-family: 'Inter', sans-serif;
  background-color: red;
  color: white;
  font-size: 25px;
}

.input_show_password {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;

  input {
    width: 100%;
    margin-right: 5px;
  }

  button {
    width: 30px;
    height: 30px;
    background-image: url("https://sun2-22.userapi.com/impg/z9Q2Zk3eKvdXWIQOsjr-H1Wp1cINISelQgKLyg/gNDirU-oPnk.jpg?size=1024x1024&quality=96&sign=f1209a092877f310b439ac8da9e70a93&type=album");
    background-size: 30px;
    border: none;


  }

  .active {
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-image: url("https://sun9-17.userapi.com/impg/CWALrt7nVJblpgIw6UjzsE3ntVFqxoea207V-A/NZvWEdkRheo.jpg?size=256x256&quality=96&sign=b03674495b91cc66033552b0834e0654&type=album");
  }
}

.custom-loader {
  margin: 0 auto;
  margin-top: 300px;
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:#E4E4ED;
  border-right-color: #0800F4;
  animation:s2 0.5s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}